dist/
**/dist/

.cache/
**/.cache/

node_modules/
**/node_modules/

coverage/
**/coverage/

.coverage/
**/.coverage/

*.log
./**/*.log

*.tsbuildinfo
**/*.tsbuildinfo

.env
**/.env

# Editor directories and files
.vs/
.vscode/
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
